<h1>投稿一覧</h1>
<% @posts.each do |post| %>
    <p>旅行先</p>
    <span><%= link_to post.location, post_path(post) %></span>
 <p>画像</p>
 <% if post.image.attached? %>
 <%= image_tag post.image, style: "width: 300px; height: 200px; object-fit:
cover;" %>
 <% end %>
<% end %>